<!doctype html>
<html lang="en">

<head>
  <title>Terms: Hate Speech Detection</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="../static/css/custom-bs.css">
  <link rel="stylesheet" href="../static/css/jquery.fancybox.min.css">
  <link rel="stylesheet" href="../static/css/bootstrap-select.min.css">
  <link rel="stylesheet" href="../static/fonts/icomoon/style.css">
  <link rel="stylesheet" href="../static/fonts/line-icons/style.css">
  <!-- <link rel="stylesheet" href="../static/css/owl.carousel.min.css">
  <link rel="stylesheet" href="../static/css/animate.min.css"> -->
  <link rel="stylesheet" href="../static/css/style.css">
</head>

<body id="top">


  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->


    <!-- NAVBAR -->
    <header class="site-navbar mt-3">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="site-logo col-6"><a href="{{ url_for('index') }}">Erase Hate</a></div>

          <nav class="mx-auto site-navigation">
            <ul class="site-menu js-clone-nav d-none d-xl-block ml-0 pl-0">
              <li><a href="{{ url_for('index')}}" class="nav-link active">Home</a></li>
              <li><a href="{{ url_for('models') }}">Tech</a></li>
              <li><a href="{{ url_for('api_support') }}">API</a></li>
              <li><a href="{{ url_for('aboutus') }}">About</a></li>
              <li class="d-lg-none"><a href="{{ url_for('contact') }}">Contact Us</a></li>
            </ul>
          </nav>

          <div class="right-cta-menu text-right d-flex aligin-items-center col-6">
            <div class="ml-auto">
              <a href="{{ url_for('contact') }}" class="btn btn-primary border-width-2 d-none d-lg-inline-block"><span
                  class="mr-2 icon-paper-plane"></span>Contact Us</a>
            </div>
            <a href="#" class="site-menu-toggle js-menu-toggle d-inline-block d-xl-none mt-lg-2 ml-3"><span
                class="icon-menu h3 m-0 p-0 mt-2"></span></a>
          </div>

        </div>
      </div>
    </header>

    <!-- HOME -->
    <section class="home-section section-hero inner-page overlay bg-image"
      style="background-image: url('../static/images/webbing2.jpg');" id="home-section">
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-12">
            <div class="mb-5 text-center">
              <h1 class="text-white font-weight-bold">Terms & Privacy</h1>
              <p>Terms of Use - Privacy Notcie</p>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section class="site-section" style="padding-top:20px;">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 text-center" data-aos="fade">
            <h2 class="section-title mb-3">Terms of Use for Erase Hate Web Application (Consent)</h2>
          </div>
        </div>
        <h3> Erase Hate Web Application ("EH App")</h3>
        <p>TO USE THE EH APP, PLEASE READ CAREFULLY AND AGREE TO THIS TERMS OF USE. IF YOU DO NOT ACCEPT THIS TERMS OF USE, YOU MAY NOT USE THE EH APP.
          By accessing, browsing, or using any of the EH App, you are deemed to have agreed to be bound by this Terms of Use.
           In the following sections, a person who has agreed to be bound by the Terms of Use shall be referred to as "Users".</p>
        <br>
        <h3><strong>Terms of Use</strong></h3>
        <ul>
          <li>1. EH App
            <ul>
              <li>1.1. This license is not a sale of the EH App and Users do not become the owner of the EH App through a purchase of any product, download and/or use.
              Any and all rights, including copyrights of the EH App, shall be reserved to SKOND Data (the "Company").
              Reproduction, alteration or transmission (including actions that prepare material for transmission) of all or any part of the EH App without permission from the Copyright Owners will constitute an infringement of their copyrights,
              PROVIDED THAT Users are permitted to reproduce or print the EH App for their commercial, and informational use only.</li>
              <li>1.2. The Company may, at any time at its sole discretion, discontinue the EH App, or may change any of the contents or terms of the EH App, without any notice to Users.</li>
            </ul>
          </li>
          <!-- END SECTION 1 -->

          <li>2. Content of BW App
            <ul>
              <li>2.1 The content of the EH App may be changed at any time without notice to Users as the specifications for products and services are changed.
                Accordingly, Users are advised that the contents of the EH App may differ from those included with the purchased products or those included with the products on sale.</li>
              <li>2.2. Users are advised that additional printed materials ("Supplement Materials") may be included with products as supplements to the EH App, and that the Supplement Materials are not available under the EH App.
                 Therefore, Users should refer to the Supplement Materials if they are not available under the EH App.</li>
            </ul>
          </li>
          <!-- End section 2 -->

          <li>3. Exclusion of Liability
            <ul>
              <li>3.1. EXCEPT AS REQUIRED UNDER APPLICABLE LAW, THE COMPANY SHALL NOT BE LIABLE FOR ANY DIRECT, SPECIAL, INDIRECT OR CONSEQUENTIAL DAMAGES OR ANY OTHER DAMAGES OF ANY KIND WHICH IS OR WILL BE INCURRED BY USERS
                RESULTING FROM THE USE OF THE EH APP OR ANY INABILITY TO USE THE EH APP (INCLUDING DAMAGES RESULTING FROM DESTRUCTION OF DATA, SUSPENSION OF BUSINESS OPERATIONS,
                LOSS OF BUSINESS INFORMATION AND DEMDANDS FOR INDEMNIFICATION FOR DAMAGES FROM THIRD PARTY).</li>
            </ul>
          </li>
          <!-- End Section 3 -->

          <li>4. General
            <ul>
              <li>4.1. This Terms of Use is governed by and shall be construed in accordance with the laws of the State of California without regard to its conflicts of laws principles.
                 In the event a dispute arises under or in connection with this Terms of Use, you hereby consent to personal jurisdiction of California and waive any objection that such forum is inconvenient.
                 You further consent to service of process in any action arising from this Terms of Use by regular mail or other commercially reasonable means of receipted delivery.
                 If any provision of the Agreement shall be determined invalid for any reason, the remaining provisions shall not be invalidated and shall remain in full force and effect. </li>

                 <li>4.2. This Terms of Use sets forth the entire agreement and understanding between you and the Company, and supersedes and replaces any other agreements relating to the subject matter of this Terms of Use.
                   The failure of any party to insist upon strict performance of any of the terms or provisions of this Terms of Use, or the exercise of any option,
                   right or remedy contained herein, shall not be construed as a waiver of any future application of such term, provision, option, right or remedy, and such term, provision, option, right or remedy shall continue and remain in full force and effect.
                    The headings of the sections of this Terms of Use are inserted for convenience only and shall not constitute a part hereof or affect in any way the meaning or interpretation of this Terms of Use. Except as otherwise expressly provided herein,
                    the provisions of section 3 and section 4 together with any provisions that by their express terms apply to periods after termination of this Terms of Use, shall survive termination of this Terms of Use for any reason.</li>
            </ul>
          </li>
          <!-- End section 4 -->

          <li>5. Inquiries
            <ul>
              <li>5.1. Users are advised that inquiries concerning the EH App may be restricted to persons actually purchasing products, or developing products in partnership with the Company.</li>
              <li>5.1.2 If you have any inquiries concerning the EH App, please contact <a href="{{ url_for('contact') }}">Erase Hate - SKOND Data</a></li>
            </ul>
          </li>
        </ul>
        <!-- End Terms of Use -->
        <br>
        <hr style="color:lavender;width:100%;">

        <h1><strong>Privacy Notice</strong></h1>
        <ul>
          <li><h2>Data Collection</h2>
            <ul>
              <span> The Erase Hate web application collects <strong>COMPLETELY ANONYMOUS </strong>data on user's search inputs and classification results. Data is collected strictly for the purposes of improving the classification model, providing relevant statistics to the user based on their input parameters, and for the benefit of the scientific community.</span>
              <span> In accordance with Twitter Inc, API's developer use Terms of Service, Twitter specific data may not be shared with government entities, without express consent of Twitter Inc. Beyond such terms, EH App & SKOND Data reserves the right to share data with any public or private entity it deems fit to receive data.</span>
            </ul>
          </li>
        </ul>



    </section>




    <footer class="site-footer">
      <div class="container">
        <div class="row mb-5">
          <div class="col-6 col-md-3 mb-4 mb-md-0">
            <h3></h3>
            <ul class="list-unstyled">

            </ul>
          </div>
          <div class="col-6 col-md-3 mb-4 mb-md-0">
            <h3>Erase Hate</h3>
            <ul class="list-unstyled">
              <li><a href="{{ url_for('aboutus') }}">About Us</a></li>
              <li><a href="{{ url_for('models') }}">Tech</a></li>
              <li><a href="{{ url_for('index') }}">Home</a></li>
            </ul>
          </div>
          <div class="col-6 col-md-3 mb-4 mb-md-0">
            <h3>Support</h3>
            <ul class="list-unstyled">
              <li><a href="{{ url_for('api_support') }}">API</a></li>
              <li><a href="{{ url_for('support') }}">Support</a></li>
              <li><a href="{{ url_for('terms_privacy') }}">Privacy</a></li>

            </ul>
          </div>
          <div class="col-6 col-md-3 mb-4 mb-md-0">
            <h3>Contact Us</h3>
            <div class="footer-social">
              <a href="#"><span class="icon-facebook"></span></a>
              <a href="#"><span class="icon-twitter"></span></a>
              <a href="#"><span class="icon-instagram"></span></a>
              <a href="#"><span class="icon-linkedin"></span></a>
            </div>
          </div>
        </div>

        <div class="row text-center">
          <div class="col-12">
            <p>
              Copyright &copy;
              <script>document.write(new Date().getFullYear());</script> All rights reserved | This service is made with <i
                class="icon-heart-o" aria-hidden="true"></i> by SKOND Data
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              <!-- Copyright &copy;
              <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i
                class="icon-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a> -->
            </p>
          </div>
        </div>
      </div>
    </footer>

  </div>


  <!-- SCRIPTS -->
  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/isotope.pkgd.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/stickyfill.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.fancybox.min.js') }}"></script>
  <!-- <script src="{{ url_for('static', filename='js/jquery.easing.1.3.js') }}"></script> -->
  <!-- <script src="{{ url_for('static', filename='js/jquery.waypoints.min.js') }}"></script> -->
  <!-- <script src="js/jquery.animateNumber.min.js"></script>
  <script src="js/owl.carousel.min.js"></script> -->
  <script src="{{ url_for('static', filename='js/custom.js') }}"></script>



</body>

</html>
