<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Twitter Sentiment Analysis</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link rel="stylesheet" href="../static/css/style.css">
      <script src="https://d3js.org/d3.v5.min.js"></script>
      <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
      <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
      <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  </head>
  <body>

          <!-- This is the header section -->
          <div class="row header">
              <div class="col-8">
                  <h1>Twitter Sentiment Analysis Felllows</h1>

                  <!-- <img id="brandimage" src="{{ url_for('static', filename='folder/filename') }}" alt="Brand Image Here"></img> -->
              </div>
              <div class="col-4">
                  <ul class="nav justtify-content-end">
                      <li class="nav-item vertical-line">
                          <!-- <a class="nav-link active" href="{{ url_for('index') }}">Main</a> -->
                      </li>
                      <li class="nav-item vertical-line">
                          <!-- <a class="nav-link" href="{{ url_for('aboutus') }}">Aux</a> -->
                      </li>
                      <!-- <li class="nav-item">
                          <a class="nav-link" href="{{ url_for('aux2') }}">Aux</a>
                      </li> -->
                  </ul>
              </div>
          </div>
          <!-- Main Section -->
          <div class="container">
            <h1 style="color:black;">HA</h1>

          </div>
      <!-- This is the foorter section -->
          <footer>
              <p>By: SKOND Data</p>
          </footer>

      <!-- <script src="{{ url_for('static', filename='js/builder.js') }}"></script> -->


  </body>
</html>
