<!doctype html>
<html lang="en">
  <head>
    <title>Tech: ML Models</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../static/css/custom-bs.css">
    <link rel="stylesheet" href="../static/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="../static/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="../static/fonts/icomoon/style.css">
    <link rel="stylesheet" href="../static/fonts/line-icons/style.css">
    <!-- <link rel="stylesheet" href="../static/css/owl.carousel.min.css"> -->
    <!-- <link rel="stylesheet" href="../static/css/animate.min.css"> -->
    <link rel="stylesheet" href="../static/css/style.css">
  </head>
  <body id="top">


<div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->


    <!-- NAVBAR -->
    <header class="site-navbar mt-3">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="site-logo col-6"><a href="index.html">Erase Hate</a></div>

          <nav class="mx-auto site-navigation">
            <ul class="site-menu js-clone-nav d-none d-xl-block ml-0 pl-0">
              <li><a href="{{ url_for('index')}}" class="nav-link">Home</a></li>
              <li><a href="{{ url_for('models') }}" class="active">Tech</a></li>
              <li><a href="{{ url_for('aboutus') }}">About</a></li>
              <li class="d-lg-none"><a href="{{ url_for('contact') }}">Contact Us</a></li>
            </ul>
          </nav>

          <div class="right-cta-menu text-right d-flex align-items-center col-6">
            <div class="ml-auto">
              <a href="contact.html" class="btn btn-primary border-width-2 d-none d-lg-inline-block"><span class="mr-2 icon-paper-plane"></span>Contact Us</a>
            </div>
            <a href="#" class="site-menu-toggle js-menu-toggle d-inline-block d-xl-none mt-lg-2 ml-3"><span class="icon-menu h3 m-0 p-0 mt-2"></span></a>
          </div>

        </div>
      </div>
    </header>

    <!-- HOME -->
    <section class="home-section section-hero overlay bg-image" style="background-image: url('../static/images/webbing.jpg');padding-top:75px;" id="home-section">
      <div class="container" style="padding-top:20px;">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-12">
            <div class="mb-5 text-center">
              <h1 class="text-white font-weight-bold">The Rationale Behind Our Neural Architecture</h1>
              <section class="pt-5 testimony-full">
                <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vRTAMY3cNB6UIb79GiO5RbgHOJKp8ZsQF78UD1K1w1C140XTEajReWA2CD1JR1cvA/embed?start=true&loop=true&delayms=5000" frameborder="0" width="1280" height="749" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true" style="padding-right:180px;"></iframe>


              </section>

              <!-- <p>
                As shown below, Recurrent Neural Networks (RNNs) take two inputs at each time step.
                Consequently, in order to capture semantic meanings in long sequences, we would need
                to run RNNs over many time steps, turning the unrolled RNN into a very deep network.
              </p>
              <br>
              <div align="center" class="col-12">
                <IMG SRC = "https://miro.medium.com/max/500/0*fO2QOxvxT_pUMBqY.gif">
              </div>
              <br>
              <p>
                If a deep network is needed, why not build it using an architecture that has an
                inherently long memory (the "L" and "M" in LSTM, respectively)? This allows for the
                creation of a model that recalls the relevant semantic information at the point when
                it is needed, as illustrated below:
              <div>
                <IMG SRC = "https://miro.medium.com/max/277/1*zOt48bD2Fn4j_YGxIs9Z9g.png">
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </section>





    <footer class="site-footer">
      <div class="container">
        <div class="row mb-5">
          <div class="col-6 col-md-3 mb-4 mb-md-0">
            <h3></h3>
            <ul class="list-unstyled">

            </ul>
          </div>
          <div class="col-6 col-md-3 mb-4 mb-md-0">
            <h3>Erase Hate</h3>
            <ul class="list-unstyled">
              <li><a href="{{ url_for('aboutus') }}">About Us</a></li>
              <li><a href="{{ url_for('models') }}">Tech</a></li>
              <li><a href="{{ url_for('index') }}">Home</a></li>
            </ul>
          </div>
          <div class="col-6 col-md-3 mb-4 mb-md-0">
            <h3>Support</h3>
            <ul class="list-unstyled">
              <li><a href="{{ url_for('support') }}">Support</a></li>
              <li><a href="{{ url_for('terms_privacy') }}">Privacy</a></li>

            </ul>
          </div>
          <div class="col-6 col-md-3 mb-4 mb-md-0">
            <!-- <h3>Contact Us</h3>
            <div class="footer-social">
              <a href="#"><span class="icon-facebook"></span></a>
              <a href="#"><span class="icon-twitter"></span></a>
              <a href="#"><span class="icon-instagram"></span></a>
              <a href="#"><span class="icon-linkedin"></span></a>
            </div> -->
          </div>
        </div>

        <div class="row text-center">
          <div class="col-12">
            <p>
              Copyright &copy;
              <script>document.write(new Date().getFullYear());</script> All rights reserved | This service is made with <i
                class="icon-heart-o" aria-hidden="true"></i> by SKOND Data
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              <!-- Copyright &copy;
              <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i
                class="icon-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a> -->
            </p>
          </div>
        </div>
      </div>
    </footer>

  </div>

    <!-- SCRIPTS -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/isotope.pkgd.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/stickyfill.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.fancybox.min.js') }}"></script>
    <!-- <script src="{{ url_for('static', filename='js/jquery.easing.1.3.js') }}"></script> -->
    <!-- <script src="{{ url_for('static', filename='js/jquery.waypoints.min.js') }}"></script> -->
    <!-- <script src="js/jquery.animateNumber.min.js"></script> -->
    <!-- <script src="{{ url_for('static', filename ='js/owl.carousel.min.js') }}"></script> -->
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>


  </body>
</html>
